
@import "materialize/materialize";

@charset "UTF-8";

@font-face {
  font-family: "loop-font-1";
  src:url("../font/loop/loop-font-1.eot");
  src:url("../font/loop/loop-font-1.eot?#iefix") format("embedded-opentype"),
    url("../font/loop/loop-font-1.woff") format("woff"),
    url("../font/loop/loop-font-1.ttf") format("truetype"),
    url("../font/loop/loop-font-1.svg#loop-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "loop-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "loop-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loop-logo:before {
  content: "a";
  font-size: 140px;
}

.loop-logo {
  float: left;
  padding-top: 10px;
}


.nav-wrapper {
  .top-menu li:last-child {
    a {
      padding-right: 0;
      img.avatar {
        width: 40px;
        margin: 12px 10px;
      }
      i.right {
        margin-left: 0;
      }
    }
  }
  .progressbar {
    .user-icons {
      margin-top: -5px;
      text-align: center;
      font-size: 30px;
      span.fa-user {
        margin-left: 140px;
      }
      span.fa-user-md {
        margin-left: 80px;
      }
    }
    .progress-bars {
      margin: 0 0 10px 362px;
      overflow: hidden;
      .bar {
        float: left;
        width: 22px;
        height: 8px;
        margin-right: 5px;
        border-radius: 2px;
        background-color: white;
      }
      .bar1 { background-color: red; }
      .bar2 { background-color: orange; }
      .bar3 { background-color: yellow; }
      .bar4 { background-color: green; }
      .bar5 { background-color: green; }
    }
  }
  div.user {
    position: fixed;
    top: 72px;
    right: 150px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 2px 4px 8px rgba(0,0,0,.28);
    ul.user-menu {
      li {
        float: inherit;
        padding-left: 15px;
      }
      &:after {
        position: absolute;
        top: -8px;
        right: 10px;
        border-bottom: 8px solid white;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        content: '';
      }
    }
  }
}

section.body {
  margin-top: 10px;
}

.collection {
  // This makes the card margins look better on top and bottom.
  margin: 0;
}

$cText: #607D8B;

$cHighway: #ccc;

$cDeptBase: #ccc;
$cDeptBaseDark: darken($cDeptBase, 5%);
$cDeptBaseLight: lighten($cDeptBase, 5%);

$cDeptNurse: #ffecb3;
$cDeptNurseDark: darken($cDeptNurse, 5%);
$cDeptNurseLight: lighten($cDeptNurse, 5%);

$cDeptPT: #d1c4e9;
$cDeptPTDark: darken($cDeptPT, 5%);
$cDeptPTLight: lighten($cDeptPT, 5%);

$cDeptOncology: #c5cae9;
$cDeptOncologyDark: darken($cDeptOncology, 5%);
$cDeptOncologyLight: lighten($cDeptOncology, 5%);

$cDeptCardio: #e9c4d1;
$cDeptCardioDark: darken($cDeptCardio, 5%);
$cDeptCardioLight: lighten($cDeptCardio, 5%);

div.activity {
  width: 1020px;
  margin-top: 30px;
  .timestamp {
    float: left;
    width: 170px;
    clear: both;
    padding-left: 30px;
    .date, .time {
      margin: 0;
      padding-right: 40px;
      color: $cText;
    }
    .date {
      font-size: 16px;
    }
    .time {
      font-size: 20px;
    }
  }
  .wrapper {
    position: relative; // Set as parent for icon circles
    float: left;
    width: 550px;
    padding-bottom: 15px;
    border-left: 10px solid $cHighway;
    .circleLarge {
      position: absolute;
      left: -33px;
      top: -5px;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: $cHighway;
      z-index: 100;
      .circleSmall {
        position: absolute;
        top: 8px;
        left: 8px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $cDeptBaseDark;
      }
    }
    .card-n-content {
      float: right;
      width: 490px;
      min-height: 103px;
      overflow: hidden;
      padding: 10px;
      border-radius: 5px;
      background-color: $cDeptBase;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      .img-pad {
        float: left;
        padding: 5px 20px 10px 10px;
        img {
          width: 80px;
          height: 80px;
        }
      }
      .info {
        float: left;
        width: 240px;
        div:first-child {
          font-size: 22px;
        }
      }
      .department {
        float: right;
        padding: 6px 10px 0 0;
        font-style: italic;
      }
      .details {
        width: calc(100% + 20px);
      }
      .questions {
        float: left;
        width: 490px;
        clear: both;
        margin: -10px;
        background-color: $cDeptBaseLight;
        h5 {
          float: left;
          width: 330px;
          margin: 10px 15px 15px;
          border-bottom: 1px solid $cText;
          color: $cText;
        }
        .add-button {
          float: right;
          width: 80px;
          height: 30px;
          margin: 8px 15px 0;
          border-radius: 20px;
          border: 3px solid $cText;
          color: $cText;
          font-size: 16px;
          text-align: center;
        }
        form p {
          margin-left: 15px;
          &:last-child {
            padding-bottom: 15px;
          }
        }
      }
      .notes {
        float: left;
        width: 150px;
        margin: -10px;
        background-color: $cDeptBaseLight;
      }
      .triangle {
        position: absolute;
        left: 41px;
        top: 10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent $cDeptBase transparent transparent;
      }
    }
  }
}

div.activity .wrapper > .deptBase { background-color: $cDeptBase; }
div.activity .wrapper .card-n-content .deptBase { border-color: transparent $cDeptBase transparent transparent; }
div.activity .wrapper .card-n-content .deptBaseLight { background-color: $cDeptBaseLight; }
div.activity .wrapper .circleLarge .deptBaseDark { background-color: $cDeptBaseDark; }
div.activity:hover .wrapper > .deptBase { background-color: $cDeptBaseDark; }
div.activity:hover .wrapper .card-n-content .deptBase { border-color: transparent $cDeptBaseDark transparent transparent; }
div.activity:hover .wrapper .card-n-content .deptBaseLight { background-color: $cDeptBase; }

div.activity .wrapper > .deptNurse { background-color: $cDeptNurse; }
div.activity .wrapper .card-n-content .deptNurse { border-color: transparent $cDeptNurse transparent transparent; }
div.activity .wrapper .card-n-content .deptNurseLight { background-color: $cDeptNurseLight; }
div.activity .wrapper .circleLarge .deptNurseDark { background-color: $cDeptNurseDark; }
div.activity:hover .wrapper > .deptNurse { background-color: $cDeptNurseDark; }
div.activity:hover .wrapper .card-n-content .deptNurse { border-color: transparent $cDeptNurseDark transparent transparent; }
div.activity:hover .wrapper .card-n-content .deptNurseLight { background-color: $cDeptNurse; }

div.activity .wrapper > .deptPT { background-color: $cDeptPT; }
div.activity .wrapper .card-n-content .deptPT { border-color: transparent $cDeptPT transparent transparent; }
div.activity .wrapper .card-n-content .deptPTLight { background-color: $cDeptPTLight; }
div.activity .wrapper .circleLarge .deptPTDark { background-color: $cDeptPTDark; }
div.activity:hover .wrapper > .deptPT { background-color: $cDeptPTDark; }
div.activity:hover .wrapper .card-n-content .deptPT { border-color: transparent $cDeptPTDark transparent transparent; }
div.activity:hover .wrapper .card-n-content .deptPTLight { background-color: $cDeptPT; }

div.activity .wrapper > .deptOncology { background-color: $cDeptOncology; }
div.activity .wrapper .card-n-content .deptOncology { border-color: transparent $cDeptOncology transparent transparent; }
div.activity .wrapper .card-n-content .deptOncologyLight { background-color: $cDeptOncologyLight; }
div.activity .wrapper .circleLarge .deptOncologyDark { background-color: $cDeptOncologyDark; }
div.activity:hover .wrapper > .deptOncology { background-color: $cDeptOncologyDark; }
div.activity:hover .wrapper .card-n-content .deptOncology { border-color: transparent $cDeptOncologyDark transparent transparent; }
div.activity:hover .wrapper .card-n-content .deptOncologyLight { background-color: $cDeptOncology; }

div.activity .wrapper > .deptCardio { background-color: $cDeptCardio; }
div.activity .wrapper .card-n-content .deptCardio { border-color: transparent $cDeptCardio transparent transparent; }
div.activity .wrapper .card-n-content .deptCardioLight { background-color: $cDeptCardioLight; }
div.activity .wrapper .circleLarge .deptCardioDark { background-color: $cDeptCardioDark; }
div.activity:hover .wrapper > .deptCardio { background-color: $cDeptCardioDark; }
div.activity:hover .wrapper .card-n-content .deptCardio { border-color: transparent $cDeptCardioDark transparent transparent; }
div.activity:hover .wrapper .card-n-content .deptCardioLight { background-color: $cDeptCardio; }

