
@import "materialize/materialize";


.nav-wrapper {
  .va-logo {
    height: 40px
  }
  #user-menu {
    top: 72px;
  }
  .top-menu li:last-child {
    a {
      padding-right: 0;
      i.left {
        margin-right: 5px;
      }
      i.right {
        margin-left: 0;
      }
    }
  }
}

section.body {
  margin-top: 10px;
}

.collection {
  // This makes the card margins look better on top and bottom.
  margin: 0;
}
